<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <a [routerLink]="[ '/produtos/create']" class="btn btn-primary">Registar produto</a>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nome</th>
                                <th>Preço</th>
                                <th>Quantidade</th>
                                <th>Data registo</th>
                                <th>Ultima actualização</th>
                                <th>Operações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of this.produtos; index as i">
                                <td> {{ i+1}} </td>
                                <td> {{ item.nome}} </td>
                                <td> {{ item.preco}} </td>
                                <td> {{ item.qtd}} </td>
                                <td> {{ item.created_at}} </td>
                                <td> {{ item.updated_at}} </td>
                                <td>
                                    <a [routerLink]="[ '/produtos/show/', item.id ]" class="btn btn-sm btn-secondary mr-2">Visualizar</a>
                                    <a [routerLink]="[ '/produtos/edit/', item.id ]" class="btn btn-sm btn-info mr-2">Actualizar</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <div class="text text-center">Total de produtos cadastrados ({{this.produtos?.length}})</div>
            </div>
        </div>
    </div>
</div>

